* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 40%;

  @media only screen and (min-width: 1900px) {
    font-size: 48%;
  }

  @media only screen and (min-width: 2100px) {
    font-size: 56%;
  }

  @media only screen and (min-width: 2400px) {
    font-size: 64%;
  }

  @media only screen and (min-width: 2600px) {
    font-size: 65%;
  }

  @media only screen and (min-width: 4000px) {
    font-size: 130%;
  }
}

$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);
$red: hsl(354, 100%, 66%);
$light-blue: hsl(223, 100%, 88%);
$blue: hsl(223, 87%, 63%);

body {
  font-family: "Libre Franklin", sans-serif;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 2rem;
  color: $gray;

  &-bold {
    font-weight: 700;
    color: black;
  }
}

.paragraph {
  font-size: 2rem;
  font-weight: 300;
  color: black;
  padding-bottom: 5rem;
}

.footer {
  font-size: 2rem;
  color: rgba($gray, 0.5);
}

.content {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 8rem 0;

  &__logo {
    width: 12rem;
    height: auto;
    padding-bottom: 5rem;
  }

  &__dashboard {
    max-width: 90%;
    height: auto;
    padding: 5rem 0;
  }

  @media only screen and (max-width: 900px) {
    width: 60%;
  }

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: 900px) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 7%;
    font-size: 1.5rem;
    color: $light-blue;
    transform: translateY(3rem);
    transition: all 0.3s ease;
  }

  &__input {
    width: 65%;
    font-family: "Libre Franklin", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: $light-blue;
    border: 1px solid $light-blue;
    border-radius: 5rem;
    padding: 2rem 4rem;

    @media only screen and (max-width: 900px) {
      display: block;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__input:invalid {
    box-shadow: none;
  }

  &__btn {
    width: 25%;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: white;
    background-color: $blue;
    border: 0;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem rgba($blue, 0.2);

    @media only screen and (max-width: 900px) {
      display: block;
      width: 100%;
    }
  }

  @media only screen and (max-width: 900px) {
    &__label {
      display: none;
    }
  }
}

.social {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;

  &-icon-area {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(black, 0.1);
    transition: all 0.3s ease;

    &-icon {
      font-size: 2rem;
      transform: translateY(50%);
      color: $blue;
    }
  }

  &-icon-area:hover {
    transform: scale(1.1) translateY(-0.5rem);
  }

  @media only screen and (max-width: 600px) {
    width: 40%;
  }
}
